@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-BLACK0.woff") format("woff"),
    url("../fonts/MONTSERRAT-BLACK0.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-BLACKITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-BLACKITALIC0.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-EXTRABOLD0.woff") format("woff"),
    url("../fonts/MONTSERRAT-EXTRABOLD0.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-EXTRABOLDITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-EXTRABOLDITALIC0.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-BOLD0.woff") format("woff"),
    url("../fonts/MONTSERRAT-BOLD0.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-BOLDITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-BOLDITALIC0.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-SEMIBOLD0.woff") format("woff"),
    url("../fonts/MONTSERRAT-SEMIBOLD0.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-SEMIBOLDITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-SEMIBOLDITALIC0.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-MEDIUM0.woff") format("woff"),
    url("../fonts/MONTSERRAT-MEDIUM0.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-MEDIUMITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-MEDIUMITALIC0.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-REGULAR0.woff") format("woff"),
    url("../fonts/MONTSERRAT-REGULAR0.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-ITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-ITALIC0.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-LIGHT0.woff") format("woff"),
    url("../fonts/MONTSERRAT-LIGHT0.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-LIGHTITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-LIGHTITALIC0.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-EXTRALIGHT0.woff") format("woff"),
    url("../fonts/MONTSERRAT-EXTRALIGHT0.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-EXTRALIGHTITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-EXTRALIGHTITALIC0.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-THIN0.woff") format("woff"),
    url("../fonts/MONTSERRAT-THIN0.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url("../fonts/MONTSERRAT-THINITALIC0.woff") format("woff"),
    url("../fonts/MONTSERRAT-THINITALIC0.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Thin.woff") format("woff"),
  url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-ThinItalic.woff") format("woff"),
  url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-LightItalic.woff") format("woff"),
  url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Italic.woff") format("woff"),
  url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Medium.woff") format("woff"),
  url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"),
  url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-BoldItalic.woff") format("woff"),
  url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-Black.woff") format("woff"),
  url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto-BlackItalic.woff") format("woff"),
  url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}