$green: #2ecc71;
$green-text: #1bb35a;
$black: #303841;
$grey: #e0e1e2;
$grey-text: #aeb6c1;
$grey-border: #ededed;
$dark-blue: #393e46;
$blue-text: #415b90;
$gradient-green: #09a599;
$gradient-blue: #1684a7;

$gradient-bg: linear-gradient(-126deg, $gradient-blue 0%, $gradient-green 100%);

$main-font: "Montserrat";
$secondary-font: "Roboto";
$font-size: 16px;

$sidebar-height: 750px;
